@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

@layer utilities {
    .animate-scroll {
        animation: scroll 30s linear infinite;
    }
    
    .pause-on-hover:hover .animate-scroll {
        animation-play-state: paused;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
